.ant-page-header-content {
  padding-top: 0 !important;
}

.custom-header,
.custom-layout {
  padding: 0 !important;
  background-color: #fff !important;
}

.custom-layout {
  box-shadow: 0 2px 8px #f0f1f2;

  .custom-row {
    display: flex;

    .blog-name-box {
      .blog-name {
        text-align: center;

        .line {
          height: 25px;
          display: inline-block;
          border-right: 1px solid #e8e8e8;
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    .header-search {
      width: 300px;
      outline: none;
      border: 0;
      box-shadow: none;
      background: transparent;
    }

    .search-icon {
      padding-left: 15px;
    }
  }

  .ant-menu-horizontal {
    line-height: 64px;
  }
}
