.ant-page-header-content {
  padding-top: 0 !important;
}
.custom-header,
.custom-layout {
  padding: 0 !important;
  background-color: #fff !important;
}
.custom-layout {
  box-shadow: 0 2px 8px #f0f1f2;
  .custom-row {
    display: flex;
    .ant-col {
    }
  }
}
