.sidlers-content {
  overflow: hidden;
  .user-model {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .user-img-box {
      width: 120px;
      height: 120px;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .username {
      width: 100%;
      text-align: center;
    }
    .introduce {
      width: 100%;
      text-align: center;
    }
  }
}
